:root {
  --cor-escura: #3d146e;
  --cor-primaria: #ed145b;
  --cor-secundaria: #7b2fbe;
  --cor-clara: #f5f0ff;
  --cor-texto: #0d0d0d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: var(--cor-clara);
  color: var(--cor-texto);
}
